:root {
  --box-width: 50px;
  --box-offset: 50px;
}


#player {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  left: 100px;
  top: 500px;
}

.object {
  background-color: black;
  position: absolute;
}

#one {
  width: var(--box-width);
  height: 50px;
  left: calc(var(--box-offset) * 2);
  top: calc(var(--box-offset) * 2);
}
#two {
  width: var(--box-width);
  height: 500px;
  left: calc(var(--box-offset) * 0);
  top: calc(var(--box-offset) * 5);

}
#three {
  width: var(--box-width);
  height: 50px;
  left: calc(var(--box-offset) * 2);
  top: calc(var(--box-offset) * 14);
}
#four {
  width: var(--box-width);
  height: 50px;
  left: calc(var(--box-offset) * 3);
  top: calc(var(--box-offset) * 3);
}
#five {
  width: var(--box-width);
  height: 50px;
  left: calc(var(--box-offset) * 5);
  top: calc(var(--box-offset) * 13);
}